<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>
        <%=title  %> 
    </title>
</head>
<body>
  
    
          <h1 class="heading" >Welcome to the Home Page</h1>
        
 

        <section id="">
          <h2 class="heading">Write your own posts</h2>
          <form action="/post/create" id="posts" method="POST">
            <textarea  name="content" id="min-h-screen text-center py-24" cols="30" rows="3" placeholder="Type Here"></textarea>
            <input type="submit" value="POST">
            
          </form>
        </section>
        
</body>
</html>