<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<title>
    <%= title  %> 
</title>

<main class="content bg-teal-100">
    <div class="min-h-screen text-center py-24">
      <h1 class="text-4xl text-teal-500">Welcome to the SingIN  Page</h1>
    </div>
  </main>
